nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 100vw;
    background-color: var(--color-light);
    box-shadow: 0 0 30px rgba(238, 238, 238, 0.3);
    z-index: 999;
}

.nav-links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links li {
    margin: 0 1rem;
    transition: transform 0.3s;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-links li:hover a {
    color: var(--color-primary);
    text-shadow: 0 0 10px var(--color-secondary);
}

.nav-links li a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: 1.2rem;
}



.stars-container {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #001d1e 0%, var(--color-background) 100%);
    z-index: -1;
}



.intro-container {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-light);
    text-shadow: 0 0 3px var(--color-secondary);
}

.content h1 {
    font-size: 3rem;
    margin-bottom: 0.2rem;
}

.content h2 {
    font-size: 1.8rem;
}