.footer {
    margin-top: 150px;
    height: 300px;
    background-color: var(--color-light);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    color: var(--color-dark);
    text-align: center;
    padding: 10px;
    width: 100%;
}

.footer-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-link {
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.footer-link > iconify-icon {
    font-size: 1.9rem;
    transition: all 0.3s;
}

.footer-link:hover > iconify-icon {
    color: var(--color-secondary);
    transform: scale(1.3) translateY(-3px);
}