.stage-container {
    padding-top: calc(65px + 30px);
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.stage-card {
    width: 100%;
    position: relative;
    padding: 1.2rem;
    background-color: var(--color-light);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.stage-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 4rem;
}

.stage-card-description {
    text-align: justify;
}

.stage-card-actions {
    position: absolute;
    bottom: 1.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.stage-card-action-btn {
    display: flex;
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-light);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.stage-card-action-btn > p {
    display: flex;
    align-items: center;
}

.stage-card-action-btn > iconify-icon {
    font-size: 24px;
    margin-right: 0.3rem;
}

.stage-card-action-btn:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
    box-shadow: 0 0 20px var(--color-primary);
    transform: translateY(-3px);
}