.stage-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding-top: calc(65px + 30px);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.row > .title {
  margin-top: 2rem;
}

.row > .title > h3 {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  color: var(--color-light);
  width: fit-content;
}

.row.stage-content-withimage {
  width: 85%;
  margin: 0 auto 4.5rem;
}

#sp-logo {
  background-color: var(--color-light);
  border-radius: 10px;
  padding: 0 1.2rem;
  width: 30%;
  height: auto;
  object-fit: cover;
}

.stage-content {
  width: 85%;
  padding: 1.2rem;
  background-color: var(--color-light);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin: 0 auto 4.5rem;
}

.stage-description {
  text-align: justify;
}

.stage-content > ul {
  margin-top: 0.8rem;
  padding-left: 1.5rem;
}

.stage-content > ul > li {
  margin: 0.5rem 0;
}

.stage-content-images {
  width: 85%;
  margin: 0 auto 4.5rem;
  display: flex;
  justify-content: center;
}

.row.stage-content-withimage > .stage-content {
  width: 50%;
  margin: 0;
}

.image > img {
  width: 100%;
  border-radius: 4px;
}

.image > p {
  font-size: 0.8rem;
  color: var(--color-light);
}

.image:first-child {
  margin-right: 1.2rem;
}

.image:last-child {
  margin-left: 1.2rem;
}